venv/*
*/venv/*
**/.tfvars
**/.python-version
**/.terraform
**/terraform.tfstate*
**/terraform.tfvars
**/*.auto.tfvars
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
!tests/**/terraform.tfvars
**/__pycache__
**/.pytest_cache
**/.test.lock
.idea
.vscode
.gitmodules
.idx/dev.nix
backend.tf
backend-config.hcl
credentials.json
cortex_config.json
key.json
terraform-ls.tf
bundle.zip
bundle-*.zip
cloud-sql-proxy
.DS_Store
Demo/*
terraform/aef_metadata_deployer/*
terraform/metadata/metadata-deployer/cortex_src_code/*
**/packer_cache
**/*.pkrvars.hcl
fixture_*
fast/configs
fast/**/[0-9]*providers.tf
fast/**/terraform.tfvars
fast/**/terraform.tfvars.json
fast/**/terraform-*.auto.tfvars.json
fast/**/[0-9]*.auto.tfvars*
**/node_modules
env/
